{% extends "base.html" %}

{% block content %}
{% autoescape off %}
<a href="/articles/{{ article_id }}/tags">Tags</a>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="{{ form.name.id_for_label }}">{{ form.name.label_tag }}</label>
    {{ form.name }}
  </div>
  <div class="form-group">
    <label for="{{ form.category.id_for_label }}">{{ form.category.label_tag }}</label>
    {{ form.category }}
  </div>
  <div class="hidden" id="article_text">
    {{ form.text }}
  </div>
</form>
{% include "article/editor_toolbar.html" %}
<div id="editor" class="lead" data-placeholder="This is a basic example with a simple toolbar.">{{ form.text.value }}</div>
<a href="#" class="btn btn-large btn-default jumbo" id="submit_button">Submit</a>
{% endautoescape %}
{% endblock %}